
body {
    background-color: aliceblue;
    margin: 0;
    height: 100%;
    }

*{
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu-h ul{
    list-style-type: none;
    padding: 0;
    background-color: black;
    width: 100%;
    max-width: 855px;
    font-family:'Courier New', Courier, monospace;
    position:relative;
    margin-left: 250px;

}

#menu-h ul li{
    display: inline-block;
    
}

#menu-h ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background .6s;
    vertical-align: top;
    font-weight: bold;
}

#menu-h ul li a:hover{
    background-color:rgb(120, 193, 206);

}

#rodape{
    width:1360px;
    height:35px;
    background-color:black;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10pt;
    position:absolute;
    top:1934px;
    left:0px;
    text-align:center;
    
    }

#rodape2{
    width:1360px;
    height:35px;
    background-color:black;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10pt;
    position:absolute;
    top:3300px;
    left:0px;
    text-align:center;
        
    }

#rodape3{
    width:1360px;
    height:35px;
    background-color:black;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10pt;
    position:absolute;
    top:2890px;
    left:0px;
    text-align:center;
            
    }

#rodape4{
    width:1360px;
    height:35px;
    background-color:black;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10pt;
    position:absolute;
    top:2890px;
    left:0px;
    text-align:center;
         
    }

#rodape5{
        width:1360px;
        height:35px;
        background-color:black;
        color:white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:10pt;
        position:absolute;
        top:2390px;
        left:0px;
        text-align:center;
                    
            }

#rodape6{
        width:1360px;
        height:35px;
        background-color:black;
        color:white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:10pt;
        position:absolute;
        top:2490px;
        left:0px;
        text-align:center;
                        
        }

#rodape7{
        width:1360px;
        height:35px;
        background-color:black;
        color:white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:10pt;
        position:absolute;
        top:2890px;
        left:0px;
        text-align:center;
                            
        }